<div class="subheader">
	<div class="container">
		<h1>Aktivní rezervace</h1>
		<a class="btn btn-success js-modal">Vytvořit novou rezervaci</a>
	</div>
</div>
<hr />
<div class="container">
	<div class="rooms">

		<div class="room-wrapper" ng-repeat="booking in bookings">
			<div class="room">
				<div class="room-content">
					<h2>{{booking.city}}</h2>
					<div class="room-description">
						<span> <svg class='icon' width='15' height='15'>
								<use xlink:href='#svg-calendar'></use></svg> {{booking.date}}
						</span> <span> <svg class='icon' width='15' height='15'>
								<use xlink:href='#svg-marker'></use></svg> {{booking.room}}
						</span>
					</div>
				</div>
				<div class="room-action">
					<a class="btn btn-danger" ng-click="deleteBooking(booking.id)">Zrušit rezervaci</a>
				</div>
			</div>
		</div>

	</div>

	<div class="modal">
		<div class="modal-content">
			<form>
				<fieldset>
					<legend>Vytvoření nové rezervace</legend>
					<div>
						<label for="city">Vyberte město</label> 
						<select id="city" ng-model="selectedCity" ng-options="x for x in cities" ng-change="cityChanged()">
						</select>
					</div>

					<div>
						<label for="room">Vyberte místnost</label> 
						<select id="room" ng-model="selectedRoom" ng-options="x for x in rooms" ng-change="roomChanged()">
						</select>
					</div>
					
					<div>
						<label for="date">Vyberte datum</label> <input type="text" id="date" />
					</div>
					
				</fieldset>
				<div class="modal-actions">
					<a ng-click="cancelBooking()" class="btn btn-danger js-modal">Zavřít</a>
					<a ng-click="createBooking()" class="btn btn-success js-modal">Vytvořit rezervaci</a>
				</div>
			</form>
		</div>
	</div>

</div>
