<div class="subheader">
	<div class="container">
		<h1>Aktivní rezervace</h1>
		<a class="btn btn-success js-modal">Vytvořit novou rezervaci</a>
	</div>
</div>
<hr />
<div class="container">

	<div class="rooms">

		<div class="room-wrapper" ng-repeat="reservation in reservations">
			<div class="room">
				<div class="room-content">
					<h2>{{reservation.room.cityName}}</h2>
					<div class="room-description">
						<span> <svg class='icon' width='15' height='15'>
								<use xlink:href='#svg-calendar'></use></svg> {{reservation.date | date:'dd/MM/yyyy'}}
						</span>
						<span> <svg class='icon' width='15' height='15'>
								<use xlink:href='#svg-marker'></use></svg> {{reservation.room.name}}
						</span>

						<span> <svg class='icon' width='15' height='15'>
								<use xlink:href='#svg-marker'></use></svg> Uživatel: {{reservation.user}}
						</span>

					</div>

				</div>
				<div class="room-action">
					<a class="btn btn-danger" ng-click="deleteReservation(reservation)">Zrušit rezervaci</a>
				</div>
			</div>
		</div>

	</div>

	<div class="modal">
		<div class="modal-content">
			<form name="reservationForm">
				<fieldset>
					<legend>Vytvoření nové rezervace</legend>

					<div>
						<label for="city">Vyberte město</label>
						<select name="city" id="city" ng-model="selectedCity" ng-change="cityChanged()" ng-options="x.name for x in cities" required>
						</select>
					</div>

					<div>
						<label for="room">Vyberte místnost</label>
						<select name="room" id="room" ng-model="selectedRoom" ng-options="x.name for x in rooms" ng-change="roomChanged()" required>
						</select>
					</div>

					<div>
						<label for="date">Vyberte datum</label>
						<input name="date" ng-model="selectedDate" class="js-datepicker" type="text" id="date" min="{{minDate}}" placeholder="dd/MM/yyyy" required />
					</div>

				</fieldset>
				<div class="modal-actions">
					<a ng-click="cancelReservation()" class="btn btn-danger js-modal">Zavřít</a>
					<a ng-show="reservationForm.city.$invalid || reservationForm.room.$invalid || reservationForm.date.$invalid" class="btn btn-warning" ng-click="createReservation()">Vytvořit rezervaci</a>
					<a ng-show="reservationForm.city.$valid && reservationForm.room.$valid && reservationForm.date.$valid" ng-click="createReservation()" class="btn btn-success js-modal">Vytvořit rezervaci</a>
				</div>
			</form>
		</div>
	</div>

</div>
